img{
  margin-top: 5px;

  opacity: 1;
  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
}

body{

  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
